/* Write your CSS here */
.matchCard {
  background-color: #0f172a;
  width: 33%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .matchCard {
    width: 48%;
    margin: 1%;
  }
}
.won {
  color: #18ed66;
  font-size: 17px;
  font-weight: bold;
}
.lost {
  color: #e31a1a;
  font-weight: bold;
  font-size: 17px;
}
.opponentLogo1 {
  height: 100px;
}
.result {
  font-size: 15px;
  font-weight: bold;
}
.competingTeam {
  font-weight: bold;
}
